/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

button { cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

button, textarea, select { font-size: 16px; box-shadow: none; border-radius: 0; letter-spacing: -1px; outline-style: none; font-family: "Spoqa Han Sans Neo", sans-serif; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #818181; }

a { font-size: inherit; color: inherit; text-decoration: none; cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

img { width: 100%; height: auto; vertical-align: middle; }

ul, ol, li, dl, dt, dd { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: none; }

table { border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; table-layout: fixed; }

caption, legend { visibility: hidden; overflow: hidden; font-size: 0; line-height: 0; }

.sr-only { position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }

.xs-none { display: none; }

@media (min-width: 944px) { .xs-none { display: block; } }

.xs-show { display: block; }

@media (min-width: 944px) { .xs-show { display: none; } }

body { -webkit-user-drag: auto; }

.promoWrap { max-width: 1920px; width: 100%; margin: 0 auto; }

.promoWrap section { position: relative; }

.promoWrap section.keyVisual { width: 100%; height: 1279px; background: url(../images/pc_keyVisual.jpg) no-repeat 100% 100%; background-size: 100% 1279px; }

.promoWrap section.keyVisual .btnMore { position: absolute; right: 144px; bottom: 430px; width: 234px; height: 90px; font-size: 0; line-height: 0; }

.promoWrap section.contVideo { width: 100%; height: 1577px; background: url(../images/pc_contents_1.jpg) no-repeat 100% 100%; background-size: 100% 1577px; }

.promoWrap section.contVideo .swiperArea { width: 1435px; margin: 0 auto; padding-top: 417px; }

.promoWrap section.contVideo .swiper { width: 100%; height: 100%; }

.promoWrap section.contVideo .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; }

.promoWrap section.contVideo .swiper-slide img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.promoWrap section.contVideo .swiper { width: 100%; height: 300px; margin-left: auto; margin-right: auto; }

.promoWrap section.contVideo .swiper-slide { background-size: cover; background-position: center; }

.promoWrap section.contVideo .mySwiper2 { height: 805px; width: 100%; }

.promoWrap section.contVideo .mySwiper { height: 20%; box-sizing: border-box; padding: 32px 0; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper { justify-content: flex-end; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper .swiper-slide { width: 230px !important; height: 130px; opacity: 0.7; margin-left: 20px; border: 3px solid #c6c7e4; position: relative; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper .swiper-slide::before { position: absolute; top: 50%; left: 50%; z-index: 999; transform: translate(-50%, -50%); background: url(../images/icon_thumbs_play.png) no-repeat 0 0; background-size: 36px 40px; width: 36px; height: 40px; display: block; content: ''; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper .swiper-slide::after { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: block; content: ''; background-color: #0c0834; opacity: 0.8; width: 100%; height: 100%; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active { opacity: 1; border: 3px solid #e3e4fd; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active::before { display: none; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active::after { display: none; }

.promoWrap section.contVideo .mySwiper .swiper-wrapper .swiper-slide img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.promoWrap section.contBenefit { width: 100%; height: 1416px; background: url(../images/pc_contents_2.jpg) no-repeat 100% 100%; background-size: 100% 1416px; }

.promoWrap section.contTicket { width: 100%; height: 1546px; background: url(../images/pc_contents_3.jpg) no-repeat 100% 100%; background-size: 100% 1546px; }

.promoWrap section.contTicket .clipArea .btnClip { position: absolute; right: 246px; bottom: 656px; display: block; width: 368px; height: 95px; font-size: 0; line-height: 0; }

.promoWrap section.contTicket .btnArea { position: absolute; width: 764px; height: 102px; left: 50%; bottom: 200px; transform: translateX(-50%); display: flex; justify-content: space-between; }

.promoWrap section.contTicket .btnArea a { display: block; height: 102px; width: 368px; font-size: 0; line-height: 0; }

.promoWrap section.footerLegal { width: 100%; height: 682px; background: url(../images/pc_footer.jpg) no-repeat 100% 100%; background-size: 100% 682px; }
