/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

button { cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

button, textarea, select { font-size: 16px; box-shadow: none; border-radius: 0; letter-spacing: -1px; outline-style: none; font-family: "Spoqa Han Sans Neo", sans-serif; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #818181; }

a { font-size: inherit; color: inherit; text-decoration: none; cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

img { width: 100%; height: auto; vertical-align: middle; }

ul, ol, li, dl, dt, dd { list-style: none; }

blockquote, q { quotes: none; }

blockquote::before, blockquote::after, q::before, q::after { content: none; }

table { border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; table-layout: fixed; }

caption, legend { visibility: hidden; overflow: hidden; font-size: 0; line-height: 0; }

.sr-only { position: absolute; overflow: hidden; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0); }

.xs-none { display: none; }

@media (min-width: 944px) { .xs-none { display: block; } }

.xs-show { display: block; }

@media (min-width: 944px) { .xs-show { display: none; } }

body { -webkit-user-drag: auto; }

body.show { position: relative; overflow: hidden; }

body.show .popIframe { position: fixed; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; background-color: #111; opacity: 0.9; }

body.show .popIframe .btnClose { color: #fff; position: absolute; right: 0; top: 50%; transform: translateY(-50%); margin-top: -35%; }

body.show .popIframe .iframeWrap { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; left: 50%; top: 50%; transform: translate(-50%, -50%); }

body.show .popIframe .iframeWrap iframe { position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; }

.promoWrap.pc { position: relative; max-width: 1920px; margin: 0 auto; }

.promoWrap.pc.on .tooltip { position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 30px; background-color: #8258CC; color: #fff; line-height: 30px; display: flex; justify-content: center; }

.promoWrap.pc .tooltip { display: none; transition: all 0 ease; }

.promoWrap.pc section { position: relative; }

.promoWrap.pc section.keyVisual .btnMore { position: absolute; right: 7.5%; bottom: 33.62%; width: 12.18%; height: 7%; font-size: 0; line-height: 0; outline: 1px solid red; }

.promoWrap.pc section.contVideo { background-color: #fff; }

.promoWrap.pc section.contVideo .swiperArea { width: 100%; margin: 0 auto; position: relative; }

.promoWrap.pc section.contVideo .swiper { width: 100%; height: 100%; }

.promoWrap.pc section.contVideo .swiper .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; background-size: cover; background-position: center; }

.promoWrap.pc section.contVideo .swiper .swiper-slide img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.promoWrap.pc section.contVideo .mySwiper2 { position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 75.16%; }

.promoWrap.pc section.contVideo .mySwiper2 .swiper-wrapper .swiper-slide { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; border: 5px solid #e4e4fe; }

.promoWrap.pc section.contVideo .mySwiper2 .swiper-wrapper .swiper-slide iframe { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

.promoWrap.pc section.contVideo .thumbsSwiper { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); height: 13.36%; box-sizing: border-box; margin-left: -12.4%; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper { justify-content: flex-end; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper .swiper-slide { width: 11.97% !important; height: 100%; opacity: 0.7; margin-left: 1%; border: 3px solid #c6c7e4; position: relative; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper .swiper-slide::before { position: absolute; top: 50%; left: 50%; z-index: 999; transform: translate(-50%, -50%); background: url(../images/icon_thumbs_play.png) no-repeat 0 0; background-size: 36px 40px; width: 36px; height: 40px; display: block; content: ''; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper .swiper-slide::after { position: absolute; top: 0; left: 0; bottom: 0; right: 0; display: block; content: ''; background-color: #0c0834; opacity: 0.8; width: 100%; height: 100%; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active { opacity: 1; border: 3px solid #e3e4fd; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active::before { display: none; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper .swiper-slide.swiper-slide-thumb-active::after { display: none; }

.promoWrap.pc section.contVideo .thumbsSwiper .swiper-wrapper .swiper-slide img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.promoWrap.pc section.contTicket .clipArea .btnClip { position: absolute; right: 12.5%; bottom: 42.43%; display: block; width: 19.47%; height: 6.14%; font-size: 0; line-height: 0; outline: 1px solid red; }

.promoWrap.pc section.contTicket .btnArea { position: absolute; width: 41.14%; height: 6.59%; left: 50%; bottom: 12.93%; transform: translateX(-50%); display: flex; justify-content: space-between; }

.promoWrap.pc section.contTicket .btnArea a { display: block; height: 100%; width: calc(50% - 1.7%); font-size: 0; line-height: 0; outline: 1px solid red; }

.promoWrap.mb.on .tooltip { position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 30px; background-color: #8258CC; color: #fff; line-height: 30px; display: flex; justify-content: center; }

.promoWrap.mb .tooltip { display: none; transition: all 0 ease; }

.promoWrap.mb section { position: relative; }

.promoWrap.mb section.keyVisual .btnMore { position: absolute; left: calc(130/720 * 100%); bottom: 31.95%; width: 64.44%; height: 5.4%; font-size: 0; line-height: 0; outline: 1px solid red; }

.promoWrap.mb section.contVideo .swiperArea { width: 100%; margin: 0 auto; outline: 1px solid blue; background: url(../images/mb_contents_1_2.jpg) no-repeat 0 0; background-size: 100% 100%; }

.promoWrap.mb section.contVideo .swiper { width: 100%; height: 100%; margin: 0 auto; }

.promoWrap.mb section.contVideo .swiper .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; background-size: cover; background-position: center; }

.promoWrap.mb section.contVideo .swiper .swiper-slide img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.promoWrap.mb section.contVideo .mySwiper3 { outline: 1px solid yellow; position: relative; width: 100%; height: 0; padding-bottom: 49.16%; }

.promoWrap.mb section.contVideo .mySwiper3 .swiper-wrapper { position: absolute; top: 0; left: 7.5%; bottom: 0; right: 0; width: 100%; height: 100%; }

.promoWrap.mb section.contVideo .mySwiper3 .swiper-wrapper .swiper-slide { width: 84.72% !important; }

.promoWrap.mb section.contVideo .mySwiper3 .swiper-wrapper .swiper-slide a { width: 100%; }

.promoWrap.mb section.contTicket .clipArea .btnClip { position: absolute; left: 20%; bottom: 43.52%; display: block; width: 60.27%; height: 4.48%; font-size: 0; line-height: 0; outline: 1px solid blue; }

.promoWrap.mb section.contTicket .btnArea { outline: 1px solid blue; position: absolute; width: 60.27%; height: 9.76%; left: 20%; bottom: 6.17%; display: flex; flex-direction: column; justify-content: space-between; }

.promoWrap.mb section.contTicket .btnArea a { display: block; height: 46%; width: 100%; font-size: 0; line-height: 0; outline: 1px solid red; }
