@charset 'utf-8';
@import './reset/normalize.scss';

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.xs-none {
  display: none;

  @media (min-width: 944px) {
    display: block;
  }
}

.xs-show {
  display: block;

  @media (min-width: 944px) {
    display: none;
  }
}

body {
  -webkit-user-drag: auto;
}

.promoWrap {
  max-width: 1920px;
  min-width: 1920px;
  width: 100%;
  margin: 0 auto;
  section{
    position: relative;
    &.keyVisual {
      width: 100%;
      height: 1279px;
      background: url(../images/pc_keyVisual.jpg) no-repeat 100% 100%;
      background-size: 100% 1279px;
      .btnMore{
        position: absolute;
        right: 226px;
        bottom: 400px;
        width: 146px;
        height: 120px;
        font-size: 0;
        line-height: 0;
      }
    }//.keyVisual
    &.contVideo {
      width: 100%;
      height: 1187px;
      background: url(../images/pc_contents_1.jpg) no-repeat 100% 100%;
      background-size: 100% 1187px;
    }//.contVideo
    &.contBenefit{
      width: 100%;
      height: 1416px;
      background: url(../images/pc_contents_2.jpg) no-repeat 100% 100%;
      background-size: 100% 1416px;
    }//.contBenefit
    &.contTicket{
      width: 100%;
      height: 1546px;
      background: url(../images/pc_contents_3.jpg) no-repeat 100% 100%;
      background-size: 100% 1546px;
      .clipArea{
        .btnClip{
          position: absolute;
          right: 246px;
          bottom: 656px;
          display: block;
          width: 368px;
          height: 95px;
          font-size: 0;
          line-height: 0;
        }
      }
      .btnArea{
        position: absolute;
        width: 764px;
        height: 102px;
        left: 50%;
        bottom: 200px;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        a{
          display: block;
          height: 102px;
          width: 368px;
          font-size: 0;
          line-height: 0;
        }
      }
    }//.contTicket
    &.footerLegal{
      width: 100%;
      height: 803px;
      background: url(../images/pc_footer.jpg) no-repeat 100% 100%;
      background-size: 100% 803px;
    }//.footerLegal
  }
 }//.promoWrap
